$size-base: 16px;
$size-font-base: 16px;
$color-neutral-600: #04070B;
$color-neutral-500: #0F141E;
$color-neutral-400: #263249;
$color-neutral-300: #374667;
$color-neutral-200: #9FAFC7;
$color-neutral-100: #FFFFFF;
$color-neutral-transparent: rgba(255,255,255, 0);
$color-blue: #418EE5;